@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:wght@300;400&display=swap");

* {
  background-color: purple;
  color: white;
  font-family: "Aboreto", "Helvetica", cursive;
}
